{
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb",
  ],
  "plugins": [
    "flowtype",
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
  },
  "rules": {
    "comma-dangle": ["error", "never"]
  }
}
