.app {
    margin: 0 1em;
    text-align: center;
    &__header {
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }

    &__input {
        background-color: transparent;
        border: 1px solid #000000;
        box-sizing: border-box;
        padding: 5px 10px;
        width: 100%;
    }

    &__button {
        background-color: transparent;
        border: 1px solid #000000;
        display: inline-block;
        letter-spacing: .5px;
        padding: 5px 10px;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }

    &__placeholder {
        bottom: 0;
        font-size: .9em;
        line-height: 1.7em;
        opacity: .5;
        position: absolute;
        right: 10px;
        z-index: -1;
    }

    &__edit-payer-container {
        margin: 1em;
    }

    &__receipt-grid {
        display: none;
        &.show {
            display: block;
        }
    }
    &__receipt-row {
        display: flex;
        justify-content: space-around;

        &.hide {
            display: none;
        }

        &.total-amount {
            border-bottom: 1px solid black;
            margin-bottom: 1em;
            padding-bottom: 5px;
        }
    }

    &__receipt-cell {
        flex: 1;
        font-size: .8em;
        letter-spacing: .5px;
        text-transform: uppercase;

        &.negative {
            color: red;
        }

        &.positive {
            color: green;
        }
    }
}

@media (min-width: 767px) {
    .app {
        margin: 0 auto;
        max-width: 1020px;
        &__header {
            font-size: 3em;
        }
    }
}
