.form-field__wrapper {
  margin-bottom: 1em;
  position: relative; }

.form-field__label {
  display: block;
  font-size: .75em;
  margin-bottom: .5em;
  text-transform: uppercase; }

.form-field__input, .form-field__select {
  background-color: transparent;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%; }
