.form-field {
    &__wrapper {
        margin-bottom: 1em;
        position: relative;
    }

    &__label {
        display: block;
        font-size: .75em;
        margin-bottom: .5em;
        text-transform: uppercase;
    }

    &__input,
    &__select {
        background-color: transparent;
        border: 1px solid #000000;
        box-sizing: border-box;
        padding: 5px 10px;
        width: 100%;
    }
}
